@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
/* font-family: "Raleway", sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
/* font-family: "Inter", sans-serif; */

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.raleway{
    font-family: "Raleway", sans-serif; 
}
.inter{
    font-family: "Inter", sans-serif; 
}
.btn-primary{
    font-size: 16px;
    color: #ffff;
    border: none;
    background-color:#4E47FF;
    border-radius: 10px;
    padding: 12px 36px;
    font-family: "Raleway", sans-serif;
    font: bold;
}
header{
    width: 100%;
    height: 698px;
    background-image: url('Assets/Hero-bg.png');

}
main{
    margin: 116px 141px 20px 159px;
    /* background-color: #1E1E1E; */
}
nav{
    height: 151px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 150px;
    
}
nav ul li{
    list-style: none;
}
nav .nav-logo{
    font-family: "Inter", sans-serif;
    font-size: 34px;
    color: #4E47FF;
    text-transform: uppercase;
}
nav ul li .nav-button{
    height: 48px;
    width: 132px;
}
.hero{
    height: 450px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 37px;
    justify-content: center;
    align-items: center;
    
}
.hero-content{
    font-size: 65px;
    width: 70%;
    text-align: center;
 }
.see-it-in-action{
    display: flex;
    justify-content: space-between;
}
.see-it-in-action .text-content{
    display: flex;
    flex-direction: column;
    gap: 23px;
    justify-content: center;
}
.text-content h2{
   font-size: 42px;
}
.text-content p{
    color: rgba(37, 36, 50, 0.5);
    font-size:24px ;
    width: 517px;
}
.text-content .text-content-btn{
    width: 229px;
    height: 48px;
}
.see-it-in-action img{
    height: 328px;
    width: 403px;
    border-radius: 48px;
}
.user-count{
    background-color: rgba(78, 71, 255, 0.1);
    border-radius: 24px;
    width: 100%;
    height: 306px;
    padding: 50px 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    margin-top: 116px;
}
.user-count h2{
    font-size: 38px;
}
.count-cards{

    display: flex;
    width: 100%;
    justify-content: space-around;
}
.count-card p{
    text-align: center;
    color: rgb(0,0,0,0.5);
    font-size: 20px;
}
.count-card h2{
    font-size: 80px;
    color: #4E47FF;
}
.rating-cards{
    display: flex;
    justify-content: space-between;
}

.rating-card{
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: center;
}

.rating-card{
    height: 243px;
    width: 366px;
    padding: 24px;
    border-radius: 14px;
   border: 1px solid #F2EDED;

}
.reviwer{
    display: flex;
    gap: 12px;
}
.reviwer img{
    height:40px ;
    width:40px ;
    border-radius: 50%;
}
.form{
    margin-top: 95px;
    display: flex;
    gap: 115px;
    align-items: center;
}
form{
    display: flex;
    flex-direction: column;
    gap: 19px;
}
.input-label{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
label{
    font-size: bold;
}
input[type="email"],input[type="text"],textarea{
    height: 70px;
    width: 497px;
    border: 1px solid #D6DDED;
    outline: none;
    background-color: #fff;
    padding: 20px 32px;
    font-size: 20px;
    border-radius: 10px;
}
textarea{
    height: 135px;
}
footer{
    height: 428px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    
}
footer nav{
    height: auto;
}
footer nav ul{
    display: flex;
    gap: 48px;
  

}
footer nav ul li{
    list-style: none;
}
footer nav ul li a{
    text-decoration: none;
    color: #8987A1;
    font-family: "Raleway", sans-serif;
}